<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Type</th>
    <th>Asset Tag</th>
  </tr>

  <tr>
    <td><%= @device.Make %></td>
    <td><%= @device.Model %></td>
    <td><%= @device.Type %></td>
    <td><%= @device.Asset_Tag %></td>
  </tr>
</table>