<h1>TicketCheck	</h1>
<p>Welcome to TicketCheck Select an Option Below to Begins</p>
<td><%= link_to 'Create a Ticket', new_ticket_path %></td>
<td><%= link_to 'Checkout Hardware', new_checkout_path %></td>